.mostvisited{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d9dfe5;
}

.mostvisited__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

.mostvisited__title{
    font-size: 30px;
    color: red;
    font-weight: 600;
}

.mostvisited__graphic-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mostvisited__button-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mostvisited__button-container button{
    width: 150px;
    padding: 10px 0;
    border: 0;
    border-radius: 20px;
    /* background-color: rgb(193, 0, 0); */
    color: aliceblue;
    cursor: pointer;
}

.mostvisited__graphic{
    width: 100%;
}

.mostvisited__graphic canvas{
    width: 100% !important;
}

@media screen and (min-width: 375px){
    .mostvisited__button-container button{
        font-size: 15px;
        width: 170px;
    }
}

@media screen and (min-width: 425px){
    .mostvisited__button-container button{
        width: 190px;
    }
}

@media screen and (min-width: 768px){
    .mostvisited__button-container{
        flex-direction: row;
    }
    .mostvisited__button-container button{
        width: 160px;
        transition: all .3s;
    }
    .mostvisited__button-container button:hover{
        opacity: 0.8;
    }

    .mostvisited__graphic canvas{
        height: 200px !important;
    }
}

@media screen and (min-width: 1024px){
    .mostvisited__graphic-container{
        align-items: flex-start;
    }

    .mostvisited__graphic{
        width: 700px;
    }
    .mostvisited__graphic canvas{
        height: 250px !important;
    }
}

@media screen and (min-width: 1440px){
    .mostvisited__container{
        width: 1100px;
    }

    .mostvisited__button-container button{
        font-size: 17px;
    }

    .mostvisited__graphic{
        width: 700px;
    }
    .mostvisited__graphic canvas{
        height: 300px !important;
        font-size: 30px !important;
    }
}