.paginationcomponent{
    width: 100%;
    background-color: #eaeaea;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.paginationcomponent__container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.paginationcomponent__image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.paginationcomponent__image{
    width: 100%;
    height: 200px;
    position: relative;
}

.paginationcomponent__button-container{
    display: flex;
    gap: 30px;
}

.paginationcomponent__button{
    background-color: #A80000;
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s;
}

.paginationcomponent__button:hover{
    opacity: 0.8;
}

.paginationcomponent__button-disable{
    background-color: #A80000;
    color: aliceblue;
    padding: 10px 20px;
    cursor: no-drop;
    opacity: 0.5;
}

@media screen and (min-width: 425px){
    .paginationcomponent__image{
        width: 300px;
    }
}

@media screen and (min-width: 768px){
    .paginationcomponent__image-container{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .paginationcomponent__image{
        width: 280px;
    }
}

@media screen and (min-width: 1024px){
    .paginationcomponent__container{
        width: 90%;
    }

    .paginationcomponent__image-container{
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1440px){
    .paginationcomponent__container{
        width: 1200px;
        align-items: center;
    }

    .paginationcomponent__image-container{
        justify-content: center;
    }

    .paginationcomponent__image{
        width: 250px;
        transition: transform .3s;
    }

    .paginationcomponent__image:hover{
        transform: scale(1.1);
    }
}