.homepage__videoreview{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d9dfe5;
}

.homepage__videoreview-container{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 20px 30px;
}

.homepage__videoreview-container svg{
    fill: #333;
}

.homepage__videoreview__text{
    font-weight: 600;
    font-size: 15px;
    color: #333;
    text-align: center;
}

@media screen and (min-width: 425px){
    .homepage__videoreview-container{
        gap: 5px;
    }
}

@media screen and (min-width: 1024px){
    .homepage__videoreview-container{
        justify-content: flex-start;
    }
}