.slideservicecomponent__swiper {
    width: 100% !important;
    height: auto !important;
}

.slideservicecomponent__swiper-slide {
    text-align: center !important;
    font-size: 18px !important;
    background: #fff !important;

/* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    width: 100% !important;
    height: 160px !important;
    /* position: relative; */
}

.slideservicecomponent__swiper {
    margin-left: auto !important;
    margin-right: auto !important;
}

.slideservicecomponent__swiper .swiper-button-prev::after, .slideservicecomponent__swiper .swiper-button-next::after{
    color: aliceblue !important;
    transform: scale(0.7) !important;
}

.slideservicecomponent__swiper .swiper-pagination-bullet{
    background-color: aliceblue !important;
}

@media screen and (min-width: 375px){
    .slideservicecomponent__swiper-slide {
    
        height: 170px !important;
    }
}

@media screen and (min-width: 425px){
    .slideservicecomponent__swiper-slide {
    
        height: 200px !important;
    }
}

@media screen and (min-width: 768px){
    .slideservicecomponent__swiper-slide {
    
        height: 400px !important;
    }
}

@media screen and (min-width: 1024px){
    .slideservicecomponent{
        width: 40%;
    }

    .slideservicecomponent__swiper-slide {
    
        height: 250px !important;
    }
}

@media screen and (min-width: 1440px){
    .slideservicecomponent{
        width: 35%;
    }

    .slideservicecomponent__swiper-slide {
    
        height: 250px !important;
    }
}