*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Importaciones */
@import url(./header/header.css);
@import url(./header/navbar.css);
@import url(./header/submenu.css);
@import url(./supcallme/supcallme.css);
@import url(./banner/bannermaincomponent.css);
@import url(./footer/footercomponents.css);
@import url(./footer/calltoactionfooter.css);
@import url(./footer/contactfooter.css);
@import url(./footer/formfooter.css);
@import url(./footer/menufooter.css);
@import url(./footer/copyrightfooter.css);
@import url(./homepage/experience/experience.css);
@import url(./homepage/experience/sectionservicecontainer.css);
@import url(./homepage/experience/servicecomponent.css);
@import url(./homepage/reviews/reviewscomponents.css);
@import url(./homepage/about/aboutcomponent.css);
@import url(./homepage/partners/partnerscomponent.css);
@import url(./servicePage/servicePage.css);
@import url(./servicePage/infoServiceComponet.css);
@import url(./servicePage/slideServiceComponent.css);
@import url(./accordion/accordioncomponent.css);
@import url(./servicePage/thingsService.css);
@import url(./frequentlyAskedQuestions/frequentlyaskedquestions.css);
@import url(./contactPage/contactpage.css);
@import url(./mapComponent/mapcomponent.css);
@import url(./projectPage/projectscomponent.css);
@import url(./projectPage/projectspage.css);
@import url(./servicePage/brandscomponents.css);
@import url(./servicePage/checkourotherservices.css);
@import url(./pagination/paginationcomponent.css);
@import url(./projectPage/otherprojects.css);
@import url(./projectPage/projectpaginationcomponent.css);
@import url(./homepage/recommendationVideo/recommendationvideo.css);
@import url(./homepage/slideRecommendationVideo/sliderecommendationvideo.css);
@import url(./homepage/videoreview.css);
@import url(./searchFrequentQuestions/searchfrequentquestions.css);
@import url(./searchFrequentQuestions/resultSearch/resultsearch.css);